doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' 
          content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{data.pass.name} - Alpine passes
    link(rel='stylesheet' type='text/css' href='./styles.css')
  body
    .content-wrapper
      .map-wrapper
        #map
      .pass-wrapper
        h4.card-title #{data.pass.name}
        p.card-text 
            strong Elevation:
            |
            | #{data.pass.elevation}
            br
            strong Slope:
            |
            | #{data.pass.slope}
    - var point = data.pass.point;
    script.
      const point = {
        lat: #{point.lat},
        lon: #{point.lon}
      };
    script(src='./js/pass.js')
    script(
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9e17q4EeMslFlH4iA9INljgj7b48IDI&callback=initMap'
        async
        defer)